<div class="container-fluid page-container">
<div class="content-container">
    
<div class="row">
    <div class="col-12 mini-nav">
        <div class="mini-nav-div">
        <span *ngFor="let item of subNav">
            <span (click)="changeView(item.name)" class="mini-nav-item">
                <span [class.active]="displayed===item.name">
                    {{ item.name }}
                </span>
            </span>
        </span>
        
        </div> 
    </div>
</div>
    
<div class="row">
    <div class="col-10 offset-1 content-div" [@slideTrigger]="'slide'">
        
        <div [ngSwitch]="displayed">
            
        <div *ngSwitchCase="'HTML'" [@enterTrigger]="'fade'">
        <i class="fab fa-html5 tech-stack-icon"></i>
        <br>
        Hypertext Markup Language - the cornerstone of the internet.  Like many developers my first introduction to hard-coding was with HTML
        & although I have studied many languages & frameworks since I have always managed to keep a solid grounding in the basics.  Good HTML 
        conventions can make the code a lot more readable not only for the coder who created it but also for other developers & collaborators.  
        I employ these conventions & am familiar with the latest version of HTML (HTML5) & it's capabilities.
        </div>
        
        <div *ngSwitchCase="'CSS'" [@enterTrigger]="'fade'">
        <i class="fab fa-css3-alt tech-stack-icon"></i>
        <br>
        CSS or cascading style sheets are the styling behind the internet.  They're also responsible for a large number of animations that
        give the internet & applications their interactivity & intuative feel.  CSS compliments the practicality of HTML.
        I employ CSS to give my websites & applications enticing & intuative interfaces.  I write my own CSS to do so while also implimenting
        some useful libraries such as Bootstrap & Hover.css (among others).
        </div>
        
        <div *ngSwitchCase="'Bootstrap/Bootwatch'" [@enterTrigger]="'fade'">
        <i class="fab fa-bootstrap tech-stack-icon"></i>
        <br>
        </div>
        
        <div *ngSwitchCase="'jQuery'" [@enterTrigger]="'fade'">
        <i class="fas fa-dollar-sign tech-stack-icon"></i>
        <br>
        </div>
        
        <div *ngSwitchCase="'JavaScript'" [@enterTrigger]="'fade'">
        <i class="fab fa-js-square tech-stack-icon"></i>
        <br>
        </div>
        
        <div *ngSwitchCase="'API Interaction'" [@enterTrigger]="'fade'">
        <i class="fas fa-server tech-stack-icon"></i>
        <br>
        </div>
        
        <div *ngSwitchCase="'JSON Representation'" [@enterTrigger]="'fade'">
        <br>
        JSON Representation
        </div>
        
        <div *ngSwitchCase="'Python'" [@enterTrigger]="'fade'">
        <br>
        <i class="fab fa-python tech-stack-icon"></i>
        </div>
        
        <div *ngSwitchCase="'Flask'" [@enterTrigger]="'fade'">
        <br>
        Flask
        </div>
        
        <div *ngSwitchCase="'Django'" [@enterTrigger]="'fade'">
        <br>
        Django
        </div>
        
        <div *ngSwitchCase="'SQL'" [@enterTrigger]="'fade'">
        <br>
        SQL
        </div>
        
        <div *ngSwitchCase="'Stripe'" [@enterTrigger]="'fade'">
        <br>
        <i class="fab fa-stripe tech-stack-icon" [@enterTrigger]="'fade'"></i>
        </div>
        
        <div *ngSwitchCase="'MongoDB'" [@enterTrigger]="'fade'">
        <br>
        MongoDB
        </div>
        
        <div *ngSwitchDefault [@enterTrigger]="'fade'"> 
        No information found.
        </div>
        
        </div>
        
    </div>
</div>

</div>
</div>