<div class="container-fluid page-container">
<div class="content-container">
    
<div class="row">
    <div class="col-12 mini-nav">
        <div class="mini-nav-div">
        <span *ngFor="let item of subNav">
            <span (click)="changeView(item.name)" class="mini-nav-item">
                <span [class.active]="displayed===item.name">
                    {{ item.name }}
                </span>
            </span>
        </span>
        
        </div> 
    </div>
</div>
    
<div class="row">
    <div class="col-10 offset-1 content-div">
        
        <div [ngSwitch]="displayed">
            
        <div *ngSwitchCase="'HTML'">
        <i class="fab fa-html5 tech-stack-icon"></i>
        <br>
        Hypertext Markup Language - the cornerstone of the internet.  Like many developers my first introduction to hard-coding was with HTML
        & although I have studied many languages & frameworks since I have always managed to keep a solid grounding in the basics.  Good HTML 
        conventions can make the code a lot more readable not only for the coder who created it but also for other developers & collaborators.  
        I employ these conventions & am familiar with the latest version of HTML (HTML5) & it's capabilities.
        </div>
        
        <div *ngSwitchCase="'CSS'">
        <i class="fab fa-css3-alt tech-stack-icon"></i>
        </div>
        
        <div *ngSwitchCase="'Bootstrap/Bootwatch'">
        <i class="fab fa-bootstrap tech-stack-icon"></i>
        </div>
        
        <div *ngSwitchCase="'jQuery'">
        <i class="fas fa-dollar-sign tech-stack-icon"></i>
        </div>
        
        <div *ngSwitchCase="'JavaScript'">
        <i class="fab fa-js-square tech-stack-icon"></i>
        </div>
        
        <div *ngSwitchCase="'API Interaction'">
        <i class="fas fa-server tech-stack-icon"></i>
        </div>
        
        <div *ngSwitchCase="'JSON Representation'">
        JSON Representation
        </div>
        
        <div *ngSwitchCase="'Python'">
        <i class="fab fa-python tech-stack-icon"></i>
        </div>
        
        <div *ngSwitchCase="'Flask'">
        Flask
        </div>
        
        <div *ngSwitchCase="'Django'">
        Django
        </div>
        
        <div *ngSwitchCase="'SQL'">
        SQL
        </div>
        
        <div *ngSwitchCase="'Stripe'">
        <i class="fab fa-stripe tech-stack-icon"></i>
        </div>
        
        <div *ngSwitchCase="'MongoDB'">
        MongoDB
        </div>
        
        <div *ngSwitchDefault> 
        No information found.
        </div>
        
        </div>
        
    </div>
</div>

</div>
</div>