<div class="container-fluid page-container">
<div class="content-container">
    
<div class="row">
    <div class="col-12 mini-nav" [@enterTrigger]="'fade'">
        <div class="mini-nav-div">
        <span *ngFor="let item of subNav">
            <span (click)="changeView(item.name)" class="mini-nav-item">
                <span [class.active]="displayed===item.name">
                    {{ item.name }}
                </span>
            </span>
        </span>
        
        </div> 
    </div>
</div>
    
<div class="row">
    <div class="col-10 offset-1 content-div main-content-div">
        
        <div [ngSwitch]="displayed">
            
        <div *ngSwitchCase="'Overview'" [@enterTrigger]="'fade'">
        Welcome to my portfolio website.  This site is a detailed outline of my experience to date & explores both the content covered in my 
        academic & personal studies & also an outline of my personal projects to date.
        <br>
        <br>
        <i class="fas fa-graduation-cap spacer-icon"></i>
        <br>
        <br>
        I am a graduate of the <a target="blank" href="https://codeinstitute.net/full-stack-software-development-diploma/" class="hyperlink">
        Code Institute Full Stack Development course</a> & have also gained experience through my own experimentation & research.
        Prior to this qualification I studied Business with Risk Management & Insurance at the University of Limerick before working in the
        insurance sector for almost four years.  As I was interested in constant development & technology I undertook a 
        <a target="blank" href="https://digitalmarketinginstitute.com/en-ie/students/courses/professional-diploma-in-digital-marketing" 
        class="hyperlink">Professional Diploma in Digital Marketing</a> during this period.  This diploma solidified my interest in technology
        & drove me to become a fully qualified Full-Stack Developer.
        I am now a passionate developer & am constantly developing my skillset & understanding of all things software/web development.
        
        <br>
        <br>
        <i class="fas fa-align-center spacer-icon"></i>
        <br>
        <br>
        If you're looking for a developer or are interesting in collaborating on a project please feel free to 
        <a routerLink="/contact" class="hyperlink">get in touch</a>.
        </div>
        
        <div *ngSwitchDefault [@enterTrigger]="'fade'"> 
        No information found.
        </div>
        
        </div>
        
    </div>
</div>

</div>
</div>
