<div class="container-fluid page-container">
<div class="content-container">
    
<div class="row">
    <div class="col-12 mini-nav" [@enterTrigger]="'fade'">
        <div class="mini-nav-div">
        <span *ngFor="let item of subNav">
            <span (click)="changeView(item.name)" class="mini-nav-item">
                <span [class.active]="displayed===item.name">
                    {{ item.name }}
                </span>
            </span>
        </span>
        
        </div> 
    </div>
</div>
    
<div class="row">
    <div class="col-10 offset-1 content-div main-content-div">
        
        <div [ngSwitch]="displayed">
            
        <div *ngSwitchCase="'Overview'" [@enterTrigger]="'fade'">
        Welcome & thanks for visiting.  My name is Páraic & I'm a passionate & fully qualified Full-Stack Developer.  This site is designed to give you
        a taste of my experience to date & will talk you through some projects I've worked on in the past & outline the technologies I use in my development.
        I'm currently looking for opportunities to employ my skillset & develop my development abilities further so if you have any current openings or 
        are interested in my professional services for a website or project please feel free to <a routerLink="/contact"
        class="hyperlink">get in touch</a>.
        <br>
        <br>
        <i class="fas fa-graduation-cap spacer-icon"></i>
        <br>
        <br>
        I'm originally a Business & Risk/Insurance graduate of the University of Limerick & have around four years experience in the Insurance sector.  
        My journey as a developer began when I undertook a <a target="blank" href="https://digitalmarketinginstitute.com/en-ie/students/courses/professional-diploma-in-digital-marketing" 
        class="hyperlink">Professional Diploma in Digital Marketing</a>.  During this course I got my first taste of development & design while I was
        familiarising myself with WordPress & dealing with the concepts & principals of good & effective web-design & content creation.  However this
        only ignited my passion for development & I was hungry to move on from a CMS & to become a Software Developer.  
        <br>
        As a result I decided to enroll in the <a target="blank" href="https://codeinstitute.net/full-stack-software-development-diploma/" 
        class="hyperlink">Code Institute Full Stack Development course</a>.  It was during this course that my development abilities took off.  I was introduced to a wide
        variety of languages & technologies & developed a number of practical sites & applications during this time.  For more information please see 
        <a routerLink="/portfolio" class="hyperlink">my portfolio</a>.
        <br>
        Ever since I've been exploring the latest technologies while keeping my skills fresh with new & exciting projects.  Most recently I've thought
        myself Angular to increase my Front-End abilities & developed the portfolio application you're currently viewing.

        <br>
        <br>
        <i class="fas fa-align-center spacer-icon"></i>
        <br>
        <br>
        I hope you enjoy navigating this app & if you have any feedback or if you're looking for a developer or are interesting in collaborating on a 
        project please feel free to <a routerLink="/contact" class="hyperlink">get in touch</a>.
        </div>
        
        <div *ngSwitchDefault [@enterTrigger]="'fade'"> 
        No information found.
        </div>
        
        </div>
        
    </div>
</div>

</div>
</div>