<div class="container-fluid page-container">
<div class="content-container">
    
<div class="row">
    <div class="col-12 mini-nav" [@enterTrigger]="'fade'">
        <div class="mini-nav-div">
        <span *ngFor="let item of subNav">
            <span (click)="changeView(item.name)" class="mini-nav-item">
                <span [class.active]="displayed===item.name">
                    {{ item.name }}
                </span>
            </span>
        </span>
        
        </div> 
    </div>
</div>
    
<div class="row">
    <div class="col-10 offset-1 content-div main-content-div">
        
        <div [ngSwitch]="displayed">
            
        <div *ngSwitchCase="'Contact'" [@enterTrigger]="'fade'">
        <br>
        <i class="fas fa-envelope"></i> paraiccooney@hotmail.com
        <br><br>
        <i class="fas fa-phone"></i> 089 247 8762 
        
        
        <form class="contact-form" (submit)="sendEmail($event)">
            <label>Name</label>
            <input type="text" name="from_name">
            <label>Email</label>
            <input type="email" name="from_email">
            <label>Message</label>
            <textarea name="message_html"></textarea>
            <input type="submit" value="Send">
        </form>
        
        </div>
        
        <div *ngSwitchCase="'Social'" [@enterTrigger]="'fade'"> 
        <br>
        <a targer="blank" href="https://github.com/paraiccooney" class="hyperlink"><i class="fab fa-github"></i> 
        https://github.com/paraiccooney 
        </a>
        <br><br>
        <a targer="blank" href="https://www.linkedin.com/in/p%C3%A1raic-cooney-4b481370/" class="hyperlink">
        <i class="fab fa-linkedin"></i> https://www.linkedin.com/in/p%C3%A1raic-cooney-4b481370/
        </a>
        </div>
        
        <div *ngSwitchDefault> 
        No information found.
        </div>
        
        </div>
        
    </div>
</div>

</div>
</div>