<div class="container-fluid page-container">
<div class="content-container">
    
<div class="row">
    <div class="col-12 mini-nav">
        <div class="mini-nav-div">
        <span *ngFor="let item of subNav">
            <span (click)="changeView(item.name)" class="mini-nav-item">
                <span [class.active]="displayed===item.name">
                    {{ item.name }}
                </span>
            </span>
        </span>
        
        </div> 
    </div>
</div>
    
<div class="row">
    <div class="col-10 offset-1 content-div">
        
        <div [ngSwitch]="displayed">
            
        <div *ngSwitchCase="'Overview'">
        Welcome to my portfolio website.  This site is a detailed outline of my experience to date & explores both the content covered in my academic & personal studies & also an outline of my personal projects to date.
        <br>
        I am a graduate of the <a target="blank" href="https://codeinstitute.net/full-stack-software-development-diploma/" class="hyperlink">
        Code Institute Full Stack Development course</a> & have also gained experience through my own experimentation & research.
        I am a passionate developer who is constantly developing my skillset & understanding of all things related to software/web development.
        <br>
        If you're looking for a developer or are interesting in collaborating on a project please feel free to 
        <a routerLink="/contact" class="hyperlink">get in touch</a>.
        </div>
        
        <div *ngSwitchCase="'Projects'"> 
        Projects include...
        </div>
        
        <div *ngSwitchCase="'Links'"> 
        Links...
        </div>
        
        <div *ngSwitchDefault> 
        No information found.
        </div>
        
        </div>
        
    </div>
</div>

</div>
</div>
