/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-image: url("https://i.pinimg.com/originals/35/15/72/3515726d068e42346fd8e2a55c7da366.jpg");
    
    background-size: cover;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    max-width: 100%;
}

.page-container {
  padding-right:0px;
  padding-left: 0px;
}

.lander, body {
    color:#aaa;
}

.greeter {
    position:absolute;
    top:30%;
    left:40vw;
    font-size: 20px;
    font-weight: 300;
    height:262px;
    width:262px;
    background-color:#fffdd0;
    border-radius:100%;
}


.greeter-heading {
  padding-top:32%;
  font-size:200%;
  text-align: center;
}

.greeter-sub {
  text-align: center;
  text-decoration: underline;
}


#app-container {
    height:100vh;
    width: 100vw;
}

/* Nav styling  */
nav, .custom-nav {
  text-align: right!important;
  align-items: center!important;
}

nav ul li a {
  color: #fffdd0!important;
  font-size:150%;
  padding-left: 2vw;
}

/* More Button */
.more-button {
  position: absolute;
  top:50%;
  left:49%;
}

/* Component Content Stlying */
.content-div {
    width:90vw;
    text-align:center;
    padding-top:3%;
    padding-bottom:5%;
    padding-right:5%!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fffdd0;
    overflow: scroll;
    max-height:73vh;
    font-size: 120%;
    margin-top:3vh;
}

.portfolio-content-div {
  padding-left:2%!important;
}

.main-content-div {
    padding-left:5%!important;
}

.portfolio-div {
  text-align: left;
}

.mini-nav {
    height:10vh;
    width:90vw;
    color:#aaa;
    text-align:center;
    padding-top:3%;
}

.content-container {
  height:80vh;
  width:90vw;
  margin-right: 5vw;
  margin-left: 5vw;
}

.mini-nav-item {
  cursor:pointer;
  margin-left: 7px;
}

.side-nav {
  padding-top:10%;
  padding-left:0;
}

.active {
  text-decoration: underline;
  font-weight:bold;
}

.mini-nav-div {
  background-color: #fffdd0;
  font-size:120%;
}

.hyperlink {
  text-decoration: none;
  color: #aaa!important;
  font-weight: bold;
}

.spacer-icon {
  font-size: 250%;
  margin-top:8px;
  margin-bottom:8px;
}

.tech-stack-icon {
  font-size: 350%;
  margin-top:8px;
  margin-bottom:8px;
}

.portfolio-icon-row {
  text-align:center;
}

iframe {
  height:60vh;
  width:59vw;
  margin-right:2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links {
  text-decoration: underline;
}

/* Form Styling */
.form-control.ng-touched.ng-invalid {
  border: 2px solid #BF0000;
}

.validation-message {
  color: #BF0000;
}


/* Media Rules for greeter div positions on different mobile devices */

/* iPhone 6/7/8 Plus */
@media only screen and (max-width: 420px) {
  .greeter {
    left: 20vw;
  }
}
/* iPhone 6/7/8 */
@media only screen and (max-width: 380px) {
  .greeter {
    left: 16vw;
  }
}
/* iPhone5 */
@media only screen and (max-width: 325px) {
  .greeter {
    left: 10vw;
  }
}
